<!DOCTYPE html>
<html>
<head>
    <title>LA CHAMAÏCAINE - Chamaicaine, chanson naïve</title>
    <meta charset="utf-8">
    <meta name="description" content="La Chamaïcaine, ou Chamaicaine pour les intimes sera ravie d'animer tous vos évènements : concerts en tous lieux, à travers la Seine et Marne (77) et l'Ile de France, de Paris à Bois-le-Roi." />
    <meta name="keywords" content="chamïcaine, chamaicaine, groupe musique, groupe musique bois-le-roi, Lemi, les invités" />
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <div id="player">
        <iframe width="250px" height="70px" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/297587451&amp;color=000000&amp;auto_play=false&amp;hide_related=false&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false"></iframe>
    </div>
    <div id="logo"><img src="content/bck/logo.png" /></div>

    <div id="social">
        <ul>
            <li><a href="https://www.facebook.com/lachamaicaine" target="_blank" title="facebook"><img src="content/pics/Facebook.png"></a></li>
            <li><a href="https://www.instagram.com/lachamaicaine/" target="_blank" title="instagram"><img src="content/pics/Instagram.png"></a></li>
            <li><a href="https://www.youtube.com/channel/UCwYhbEv4moH1uqamFN263mw" target="_blank" title="youtube"><img src="content/pics/Youtube.png"></a></li>
            <li><a href="https://soundcloud.com/lachamaicaine" target="_blank" title="soundcloud"><img src="content/pics/soundcloud.png" /></a></li>
        </ul>
    </div>
</header>
<div id="front"></div>
<section id="bck"></section>


<script src="js/jquery-3.1.0.js"></script>

<script type="text/javascript">
    if (window.matchMedia("(min-width:400px)").matches) {
        var script1 = document.createElement('script');
        script1.type='text/javascript';
        script1.src ='js/copycats_desk.js';
        document.getElementsByTagName('head')[0].appendChild(script1);
    } else {
        var script1 = document.createElement('script');
        script1.type='text/javascript';
        script1.src ='js/copycats_mob.js';
        document.getElementsByTagName('head')[0].appendChild(script1);
    }
</script>
</body>
</html>
